
/* ambulance-list-component.css */
:host {
  --primary: #6750A4; /* indigo-500 */
  --primary-hover: #725EAC; /* indigo-600 */
  --btn-text: #FFFFFF;
  --icon-bg: #EEF2FF; /* indigo-50 */
  --icon-hover: #E0E7FF; /* indigo-200 */
  --header-bg: #F9FAFB; /* gray-50 */
  --row-hover-bg: #F3F4F6; /* gray-100 */
  --border-color: #E5E7EB; /* gray-200 */
  --actions-bg: #FFFFFF;

  display: flex;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.error {
  color: #DC2626; /* red-600 */
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.875rem;
}

.name-container {
  font-size: 1rem;
  padding-left: 1rem;
}

.loading-spinner {
  font-size: 1rem;
  color: var(--primary);
  text-align: center;
}

.table-container {
  width: 100%;
  max-width: 1400px;
  background: var(--actions-bg);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: var(--header-bg);
  color: #374151; /* gray-700 */
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--border-color);
}

td {
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--border-color);
  color: #4B5563; /* gray-600 */
  font-size: 0.875rem;
  text-align: center;
  font-weight: normal;
}

td:first-child {
  text-align: left;
  font-weight: bold;
}


tbody tr:hover {
  background-color: var(--row-hover-bg);
}

.actions-cell {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  align-items: end;
}

.stats-btn, .proc-btn {
  background-color: var(--primary);
  color: var(--btn-text);
  padding: 0.65rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.stats-btn:hover, .proc-btn:hover {
  background-color: var(--primary-hover);
}

.icon-btn {
  color: var(--btn-text);
  --md-filled-icon-button-icon-size: 1.5rem;
  --md-filled-icon-button-container-size: 2.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.refresh-btn {
  background-color: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.refresh-btn:hover {
  background-color: rgba(99, 102, 241, 0.1); /* indigo-500 at 10% */
}

.actions-bar {
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background-color: var(--header-bg);
  gap: 1rem;
}
